<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged In</title>
    <style>
        body, html {
            background-color: black;
            color: white;
            font-family: system-ui;
        }

        a {
            color: white;
        }
    </style>
</head>
<body>
    <p>Welcome, <%-user%></p>
    <p id="display">You will be redirected in 5 seconds...</p>
    <a href="/">Click here to go now.</a>
</body>
<script>
    var password = <%-JSON.stringify(password)%>
    document.cookie = 'sessionHash=' + password;
    var x = 4;
    var interval = setInterval(() => {
        if (x == 0) {
            window.location.href = '/';
            return ;
        }
        document.getElementById('display').innerHTML = 'You will be redirected in ' + x + ' seconds...';
        x--;
    }, 1000);
</script>
</html>