<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <style>
        body, html {
            background-color: black;
            color: white;
            font-family: system-ui;
        }

        input, p {
            display: block;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            margin-bottom: 10px;
            font-size: 18px;
        }

        input {
            padding: 10px;
            border-radius: 10px;
            outline: none;
            background-color: black;
            color: white;
            border: 2px solid white;
        }

        input[type="submit"] {
            cursor: pointer;
            margin-top: 30px;
            transition: 0.15s;
        }

        input[type="submit"]:hover {
            background-color: white;
            color: black;
            box-shadow: none;
        }

        p {
            color: white;
            text-align: center;
            font-size: 46px;
            margin-bottom: 30px;
            margin-top: 0;
        }

        form {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            padding: 50px;
            background-color: black;
            border-radius: 20px;
            border: 3px solid white;
        }

        #sign-up {
            width: 100%;
            display: block;
            text-align: center;
        }

        #sign-up > * {
            display: inline;
            margin: 0;
            position: static;
        }

        #sign-up > p {
            font-size: 12px;
        }

        #sign-up > a {
            font-size: 12px;
            text-decoration: underline;
            color: white;
        }
    </style>
</head>
<script src="/scripts/cookiecheck.js"></script>
<body>
    <form action="/loggedin" method="POST">
        <p>Log In</p>
        <input id="username" type="text" name="username" placeholder="Username" />
        <input id="password" type="password" name="password" placeholder="Password" />
        <input type="submit" value="Log In" onclick="check(event)" />
        <span id="sign-up"><p>Don't have an account? </p><a href="/signup">Sign Up</a></span>
    </form>
</body>
<script>
    const usernameElement = document.getElementById('username'), 
        passwordElement = document.getElementById('password');
    function check(e) {
        if (usernameElement.value == '' || passwordElement.value == '') {
            alert('Both fields must be completed!');
            e.preventDefault();
        }
    }
</script>
</html>