<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adventure Game - Shop</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
</head>
<script src="/scripts/cookiecheck.js"></script>
<body>
    <p id="current-location"> </p>
    <div class="dialogue-box"></div>
    <div class="response-box"></div>
</body>
<script type="text/javascript">
    var gameData = <%-JSON.stringify(gameData)%>
    console.log(gameData);

    var currentPage = 'shop';
    var dialoguePage  = "main";
</script>
<script src="/scripts/main.js"></script>
<script>
    currentShopOwner = decodeURI(window.location.href.split('/')[5]);
    currentShop = town.shops.find(s => s.owner.fullName == currentShopOwner);
    document.getElementById('current-location').innerHTML = currentTown + ' > Shop > ' + currentShop.owner.fullName + '\'s Shop';

    writeDialogue();
</script>
</html>