<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body, html {
            background-color: black;
            color: white;
            font-family: system-ui;
        }
    </style>
</head>
<body>
    <p>Welcome, <%-user%></p>
    <p id="display">You will be redirected in 3 seconds...</p>
</body>
<script>
    var x = 10;
    var interval = setInterval(() => {        
        if (x == 0) {
            window.location.href = '/';
            return ;
        }
        document.getElementById('display').innerHTML = 'You will be redirected in ' + x + ' seconds...';
        x--;
    }, 1000);
</script>
</html>