p {
    margin: 5px;
}

html, body {
    background-color: black;
    color: white;
    font-family: system-ui;
    margin: 0;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
}

.dialogue-box {
    width: 100%;
    height: calc(100% - 300px);
    border: 1px solid white;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 25px;
    overflow: auto;
}

.response-box {
    width: 100%;
    height: 242px;
    border: 1px solid white;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
    user-select: none;
    overflow-x: hidden;
}

.response-box > p {
    cursor: pointer;
    font-size: 16px;
    transition: 0.25s;
    padding: 5px;
    opacity: 0;
    /*animation: 0.75s text-in;*/
    animation-fill-mode: forwards;
    position: relative;
}

.response-box > p:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    transition: none !important;
}

.response-box > p::before {
    content: '> ';
}

.dialogue-box > p {
    font-size: 18px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(218, 218, 218); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  @keyframes text-in {
    from {
        opacity: 0;
        left: 100px;
    }
    to {
        opacity: 1;
        left: 0;
    }
  }

  @keyframes fade-out {
      from {opacity: 1}
      to {opacity: 0}
  }

  #map-container {
      height: 90vh;
      width: 90vh;
      border: 1px solid white;
      position: relative;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      overflow: hidden;
      cursor: grab;
  }

  #map-container:active {
      cursor: grabbing;
  }

  #map {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: #000000;
    background-image: linear-gradient(#1f1f1f 1px, transparent 1px), linear-gradient(to right, #1f1f1f 1px, #000000 1px);
    background-size: 3% 3%;
  }

  #map .town {
      position: absolute;
      transform: translate(-50%, -50%);
      /*background-color: rgb(255, 0, 0);*/
      width: 2.5%;
      height: 2.5%;
      user-select: none;
      cursor: pointer;
  }

  #map .town > img {
      width: 100%;
      height: 100%;
      -webkit-user-drag: none;
      transition: 0.25s;
  }

  #map .town > img:hover {
    filter: drop-shadow(0px 0px 12px white);
  }

  #map .town > div {
      position: absolute;
      top: -25px;
      left: 50%;
      transform: translateX(-50%);
  }

  #map .town p {
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
  }

  #map .town p:first-child {
      color: white;
      position: relative;
      top: 0;
      transition: 0.5s;
  }

  #map .town:hover p:first-child {
      top: -16px;
  }

  #map .town p:nth-child(2) {
    color: yellow;
    opacity: 0;
    position: absolute;
    transition: 0.5s;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    top: 4px;
  }

  #map .town:hover p:nth-child(2) {
      opacity: 1;
  }